<aside>
	<div class="logo">
		<img data-href="https://www.flaticon.com/authors/freepik" src="assets/img/email.svg"/>
	</div>
	<div class="content">
		<div class="compose">
			<button onclick="compose()"><i class="fa fa-pencil"></i> Compose</button>
		</div>
		<div class="row active">
			<div class="col-md-2">
				<i class="fa fa-inbox" aria-hidden="true"></i>
			</div>
			<div class="col-md-8">
				<span>Inbox</span>
			</div>
			<div classs="col-md-2">
				<span class="small-font">1,411</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="col-md-8">
				<span>Starred</span>
			</div>
			<div classs="col-md-2">
				<span class="small-font">320</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
			</div>
			<div class="col-md-8">
				<span>Snoozed</span>
			</div>
			<div classs="col-md-2">
				<span class="small-font">53</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
			</div>
			<div class="col-md-8">
				<span>Sent</span>
			</div>
			<div classs="col-md-2">
				<span class="small-font">1230</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<i class="fa fa-file" aria-hidden="true"></i>
			</div>
			<div class="col-md-8">
				<span>Drafts</span>
			</div>
			<div classs="col-md-2">
				<span class="small-font">70</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<i class="fa fa-angle-down" aria-hidden="true"></i>
			</div>
			<div class="col-md-10">
				<span>More</span>
			</div>
		</div>
		<hr/>
		<span>Meet</span>
		<div class="row">
			<div class="col-md-2">
				<i class="fa fa-video-camera" aria-hidden="true"></i>
			</div>
			<div class="col-md-10">
				<span>Start s meeting</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<i class="fa fa-keyboard-o" aria-hidden="true"></i>
			</div>
			<div class="col-md-10">
				<span>Join s meeting</span>
			</div>
		</div>
		<hr/>
		<span>Chat</span>
		<div class="chat-content">
			<div class="row">
				<div class="col-md-2">
					<img src="assets/img/testi.svg" class="small-img"/>
				</div>
				<div class="col-md-10">
					<span>Capablanca</span>
					<br/>
					<span class="caption-chat">lorem ipsum dolor sit amet ?</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<img src="assets/img/girl.svg" class="small-img"/>
				</div>
				<div class="col-md-10">
					<span>Susan Polgar</span>
					<br/>
					<span class="caption-chat">lorem ipsum dolor sit amet ?</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<img src="assets/img/man.svg" class="small-img"/>
				</div>
				<div class="col-md-10">
					<span>Garry Kasparov</span>
					<br/>
					<span class="caption-chat">lorem ipsum dolor sit amet ?</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<img src="assets/img/testi2.svg" class="small-img"/>
				</div>
				<div class="col-md-10">
					<span>Medina Warda</span>
					<br/>
					<span class="caption-chat">lorem ipsum dolor sit amet ?</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<img src="assets/img/man.svg" class="small-img"/>
				</div>
				<div class="col-md-10">
					<span>Magnus Carlsen</span>
					<br/>
					<span class="caption-chat">lorem ipsum dolor sit amet ?</span>
				</div>
			</div>
		</div>
	</div>
</aside>