<nav>
	<div class="l-column">
		<div class="search-box">
			<i class="fa fa-search"></i>
			<input type="text" name="search" placeholder="Search mail.." autocomplete="off" />
		</div>
	</div>
	<div class="r-column">
		<img src="assets/img/help.png" class="img-help"/>
		<img src="assets/img/testi.svg" class="img-profile"/>
	</div>
</nav>